# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/

# Ignore environment files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/

# Archivos de configuración de Docker para desarrollo
SimUci/docker-compose.dev.yml
SimUci/Dockerfile.dev
SimUci/levantarLaApp.txt

# Ignorar archivos y carpetas generados en frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/.vite/
frontend/.next/
frontend/.cache/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
